@tailwind components;
@tailwind base;
@tailwind utilities;

@layer components{
    .labelStyle{
        @apply font-bold capitalize text-sm
    }
    .gridSplit{
        @apply grid grid-cols-[160px_auto]
    }
    .btn{
        @apply text-xl text-white bg-black capitalize px-5 py-1 border border-white cursor-pointer rounded-xl inline-block min-w-[120px] 
    }
    .box-shadow{
        box-shadow: 4px 9px 50px -1 ;
    }
    .leaf-style{
        @apply absolute w-[25px]
    }
    .smallText {
        @apply font-semibold capitalize cursor-pointer text-[#8B302D]
    }
    .inputStyle{
        @apply rounded-md p-2
    }
    .svgHolder{
        @apply absolute -top-2 -right-1 bg-white rounded-full
    }
    .headTitle{
        @apply text-center text-[#444444] capitalize
    }
    .label{
        @apply text-[#444444] capitalize mb-3 block
    }
    .vefiyNumber{
      @apply  w-[50px] h-[50px] rounded-full border-[#444444] font-semibold text-2xl border text-center outline-none focus:shadow-[0_0_5px_#8B302D]
    }
    .svgHolderFoNewpasswordInputs{
        @apply absolute -top-2 right-2 bg-white rounded-full
    }
    .heightFull{
        @apply content-center h-dvh
    }
    .widthAndBorder{
        @apply w-[700px] mx-auto border border-[rgb(128_128_128_/_20%)]
    }
    .msgTransition{
        @apply h-0 transition-all duration-700 overflow-hidden
    }
    .flexUserInfo{
        @apply flex items-center gap-5 
    }
}
@layer utilities{
    .box-shadow{
        box-shadow: 0px 0px 50px -1px rgba(0,0,0,0.25);
    }
    .marginTp {
        margin-top: 1500px !important;
    }
    .box-ShadowErrorClr{
        box-shadow: 0px 0px 5px 1px red;
    }
}